<div class="row">
  <div class="col-md-3 post-managers">
    <%= render "shared/post_manager_left_navbar", active_name: "home" %>
  </div>
  <div class="col-md-6">
    <div id="post">
      <%= render partial: "posts/post" %>
    </div>
    <%= render "shared/activity_list", activities: @activities %>
  </div>
  <div class="col-md-3">
    <div class="white-bg">
      <strong><%= link_to t("labels.suggest_recruiters"),
        recommendations_recruiters_path %></strong>
      <%= render partial: "recommendations/suggest_list", collection: @recruiters,
        as: :user %>
    </div>

    <div class="white-bg">
      <strong><%= link_to t("labels.suggest_applicants"),
        recommendations_applicants_path %></strong>
      <%= render partial: "recommendations/suggest_list", collection: @applicants,
        as: :user %>
    </div>

    <% if current_user.applicant? %>
      <div class="white-bg suggest-list">
        <strong><%= t "labels.suggest_jobs" %></strong>
        <% @suggest_jobs.each do |job| %>
          <div class="suggest-box suggest-job">
            <%= render "shared/suggest_job", job: job %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
