<div class="row">
  <div class="col-md-3 post-managers">
    <%= render "shared/post_manager_left_navbar", active_name: "home" %>
  </div>
  <div class="col-md-6">
    <div id="post">
      <%= render partial: "posts/post" %>
    </div>
    <div id="activity">
      <%= render partial: "shared/activity", collection: @activities, as: :activity %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="white-bg">
      <strong><%= t "labels.suggest_recruiters" %></strong>
      <% @recruiters.each do |recruiter| %>
        <div class="suggest-box">
          <%= render "profiles/user_media", user: recruiter %>
        </div>
      <% end %>
    </div>

    <div class="white-bg">
      <strong><%= t "labels.suggest_applicants" %></strong>
      <% @applicants.each do |applicant| %>
        <div class="suggest-box">
          <%= render "profiles/user_media", user: applicant %>
        </div>
      <% end %>
    </div>

    <% if current_user.applicant? %>
      <div class="white-bg suggest-list">
        <strong><%= t "labels.suggest_jobs" %></strong>
        <% @suggest_jobs.each do |job| %>
          <div class="suggest-box suggest-job">
            <%= render "shared/suggest_job", job: job %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render "shared/modal_container" %>
</div>
