<%= render "profiles/basic_info" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.skills" %></strong>
  </div>
  <div class="panel-body">
    <ul><%= render partial: "profiles/skill_detail", collection: @skills,
      as: :skill %></ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.experiences" %></strong>
  </div>
  <div class="panel-body">
    <%= render partial: "profiles/experience_detail", collection: @experiences,
      as: :experience %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.educations" %></strong>
  </div>
  <div class="panel-body">
    <%= render partial: "profiles/education_detail", collection: @educations,
      as: :education %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.documents" %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <%= render partial: "profiles/document_detail", collection: @documents,
        as: :document %>
    </ul>
  </div>
</div>
