<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.skills" %></strong>
    <%= f.link_to_add t("profiles.actions.add"), :skills,
      data: {target: "#skills"}, class: "pull-right" %>
  </div>
  <div class="panel-body"><%= render "skill_fields", f: f %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.experiences" %></strong>
    <%= f.link_to_add t("profiles.actions.add"), :experiences,
      data: {target: "#experiences"}, class: "pull-right" %>
  </div>
  <div class="panel-body"><%= render "experience_fields", f: f %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.educations" %></strong>
    <%= f.link_to_add t("profiles.actions.add"), :educations,
      data: {target: "#educations"}, class: "pull-right" %>
  </div>
  <div class="panel-body"><%= render "education_fields", f: f %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.documents" %></strong>
    <%= f.link_to_add t("profiles.actions.add"), :documents,
      data: {target: "#documents"}, class: "pull-right" %>
  </div>
  <div class="panel-body"><%= render "document_fields", f: f %></div>
</div>
