<table>
  <tr>
    <td><%= t "profiles.name" %></td>
    <td><%= document.name %></td>
  </tr>
  <tr>
    <td><%= t "profiles.link" %></td>
    <td><%= document.link %></td>
  </tr>
  <tr>
    <td><%= t "profiles.description" %></td>
    <td><%= document.description %></td>
  </tr>
</table>
<hr>
