<%= nested_form_for @user, url: edit_profile_path do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @user %>
    <div class="col-md-3">
      <%= image_tag @user.avatar_url, class: "img-responsive img-circle" %><br>
      <%= f.file_field :avatar %>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <table class="table-profile">
        <tr>
          <td class="label-name"><%= f.label :name %></td>
          <td class="name"><%= f.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.text_field :email, class: "form-control" %></td>
        </tr>
        <% if @user.recruiter? %>
          <%= render "company_profile_fields", f: f %>
        <% elsif @user.applicant? %>
          <%= render "user_profile_fields", f: f %>
        <% end %>

        <tr>
          <td><%= f.label :country %></td>
          <td><%= f.select :country_id, options_for_select(Country.all.map{|u| [u.name, u.id]}, f.object.country_id), {}, {id: "select-country"} %></td>
        </tr>
        <tr>
          <td><%= f.label :address %></td>
          <td><%= f.text_area :address, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :phone_number %></td>
          <td><%= f.text_field :phone_number, class: "form-control" %></td>
        </tr>
        <% unless @user.admin? %>
          <tr>
            <td><%= f.label :job_categories %></td>
            <td><%= f.select :job_type_ids, options_for_select(
              JobType.all.map{|u| [u.name, u.id]}, f.object.job_type_ids), {},
              {id: "job-type-post", multiple: true} %></td>
          </tr>
        <% end %>
        <% if @user.applicant? %>
          <tr>
            <td><%= f.label :expected_salary %></td>
            <td><%= f.number_field :expected_salary, class: "form-control" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div><br>

  <div class="row">
    <% if @user.applicant? %>
      <%= render "applicant_profile", f: f %>
    <% end %>
    <%= f.submit t("actions.save"), class: "btn btn-primary pull-right" %>
  </div>
<% end %>
