<div id="user-profiles">
  <table>
    <% if @user.user_profile %>
      <tr>
        <td class="title"><%= t "profiles.current_position" %></td>
        <td><%= @user.user_profile_current_position %></td>
      </tr>
      <tr>
        <td class="title"><%= t "profiles.birth_date" %></td>
        <td><%= @user.user_profile_birth_date %></td>
      </tr>
      <tr>
        <td class="title"><%= t "profiles.gender" %></td>
        <td><%= @user.user_profile_gender %></td>
      </tr>
    <% else %>
      <tr>
        <td class="title"><%= t "profiles.current_position" %></td>
      </tr>
      <tr>
        <td class="title"><%= t "profiles.birth_date" %></td>
      </tr>
      <tr>
        <td class="title"><%= t "profiles.gender" %></td>
      </tr>
    <% end %>
    <% if @user.applicant? %>
      <tr>
        <td class="title"><%= t "profiles.expected_job_categories" %></td>
        <td><%= @user.job_types.pluck(:name).join ", " %></td>
      </tr>
      <tr>
        <td class="title"><%= t "profiles.expected_salary" %></td>
        <td><%= number_to_currency @user.expected_salary %></td>
      </tr>
    <% end %>
  </table>
</div>
