<%= f.fields_for :user_profile, wrapper: false do |ff| %>
  <tr>
    <td><%= ff.label :gender %></td>
    <td><%= ff.select :gender, @genders, {}, {class: "form-control"} %></td>
  </tr>
  <tr>
    <td><%= ff.label :birth_date %></td>
    <td><%= ff.text_field :birth_date,
      value: (l ff.object.birth_date, format: :default if ff.object.birth_date),
      class: "form-control date-picker" %></td>
  </tr>
  <tr>
    <td><%= ff.label :current_position %></td>
    <td><%= ff.text_field :current_position, class: "form-control" %></td>
  </tr>
<% end %>
