<div id="profiles" class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar_url, class: "img-responsive img-circle" %><br>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <div class="name"><%= @user.name.capitalize %></div>
        <i>
          <div class="email"><%= @user.email %></div>
          <div class="address"><%= @user.address %></div>
          <div class="phone_number"><%= @user.phone_number %></div>
        </i>
        <br>
        <%= link_to edit_profile_path do %>
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <%= t "profiles.actions.edit_profile" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% if @user.applicant? %>
        <%= render "applicant_profile_detail" %>
      <% elsif @user.admin? %>
        <%= render "basic_info" %>
      <% else %>
        <%= render "company_profile_detail" %>
      <% end %>
    </div>
  </div>
</div>
