<div id="profiles" class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar_url, class: "img-responsive img-circle" %><br>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <div class="name"><%= @user.name.capitalize %></div>
        <i>
          <div class="email"><%= @user.email %></div>
          <div class="address"><%= @user.address %></div>
          <div class="phone_number"><%= @user.phone_number %></div>
        </i>
        <br>
        <% if @user == current_user %>
          <%= link_to edit_profile_path do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <%= t "profiles.actions.edit_profile" %>
          <% end %>
        <% end %>
        <% unless @user == current_user %>
          <span class="mark-interest-actions">
            <% if(mark_interest = current_user.mark_interests.by_marked_id @user.id).present? %>
              <%= render "mark_interests/unmark_interest",
                mark_interest_id: mark_interest.first.id %>
            <% else %>
              <%= render "mark_interests/mark_interest", marked_id: @user.id %>
            <% end %>
          </span>

          <span class="relationship-action">
            <% if(relationship = current_user.follow @user).present? %>
              <%= render "relationships/unfollow", relationship: relationship.first %>
            <% else %>
              <%= render "relationships/follow", followed: @user %>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div>
        <% if controller.action_name == "followings" %>
          <%= render "profiles/following_list", user: @user, followings: @followings %>
        <% elsif controller.action_name == "followers" %>
          <%= render "profiles/follower_list", user: @user, followers: @followers %>
        <% else %>
          <%= render "profiles/tab", tab_name: "about", user: @user %>
          <div class="tab-content">
            <% if @user.applicant? %>
              <%= render "profiles/applicant_profile_detail" %>
            <% elsif @user.admin? %>
              <%= render "profiles/basic_info" %>
            <% else %>
              <%= render "profiles/company_profile_detail" %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
