<div class="col-md-6 col-md-offset-3 devise-form">
  <div class="head head-title">
    <h2><%= t "devise.labels.register" %></h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "shared/error_messages", object: resource %>

    <%= f.select :role, options_for_select(User.roles.keys.drop(1)
      .map{|role| [t("devise.labels.#{role}"), role]}, f.object.role),
      {include_blank: t("devise.placeholders.select_role")}, {class: "form-control"} %>
    <br />

    <%= f.text_field :name, placeholder: t("devise.placeholders.name"),
      class: "form-control"%>
    <br />

    <%= f.email_field :email, placeholder: t("devise.placeholders.email"),
      class: "form-control" %>
    <br />

    <%= f.password_field :password, autocomplete: "off",
      placeholder: t("devise.placeholders.password"), class: "form-control"%>
    <br />

    <%= f.password_field :password_confirmation,  autocomplete: "off",
      placeholder: t("devise.placeholders.confirm_password"),  class: "form-control" %>
    <br />

    <%= f.text_field :address, placeholder: t("devise.placeholders.address"),
      class: "form-control" %>
    <br />

    <%= f.text_field :phone_number, placeholder: t("devise.placeholders.phone_number"),
      class: "form-control" %>
    <br />

    <div>
      <%= f.select :job_type_ids, options_for_select(JobType.all.map{|u| [u.name, u.id]},
        f.object.job_type_ids), {prompt: t("devise.placeholders.job_types")},
        {id: "job-type-post", multiple: true}  %>
    </div><br />

    <div class="gender">
      <%= f.number_field :expected_salary, placeholder: t("devise.placeholders.expected_salary"),
        class: "form-control" %><br />

      <% f.object.build_user_profile if params[:user].nil? %>
      <%= f.fields_for :user_profile do |builder| %>
        <%= builder.select :gender, options_for_select(UserProfile.genders.keys
          .map{|gender| [t("devise.labels.genders.#{gender}"), gender]}, builder.object.gender),
          {include_blank: t("devise.placeholders.select_gender")}, class: "form-control" %>
        <br />

        <%= builder.text_field :birth_date, placeholder: t("devise.placeholders.birthday"),
          class: "form-control date-picker" %>
        <br />
      <% end %>
    </div>

    <%= f.submit (f.object.new_record? ? t("devise.labels.create")
      : t("devise.labels.update")), class: "btn btn-warning full-width" %>
  <% end %>
</div>

