<div class="left">
  <div class="top">
    <input type="text" />
    <%= link_to "", "", class: "new-conversation",
      data: {toggle: "modal", target: "#new-conversation-modal"} %>
  </div>
    <ul class="people">
      <% conversations.each do |conversation| %>
        <%= link_to conversation do %>
          <li class="person
            <%= @conversation && @conversation.id == conversation.id ? 'active' : nil %>">
            <%= image_tag conversation.receiver_avatar_url %>
            <span class="name"><%= conversation.receiver_name %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
