<div class="left">
  <div class="top">
    <input type="text" />
    <%= link_to "", "", class: "new-conversation",
      data: {toggle: "modal", target: "#new-conversation-modal"} %>
  </div>
    <ul class="people">
      <% conversations.each do |conversation| %>
        <li class="person conversation-<%= conversation.id %>
          <%= @conversation && @conversation.id == conversation.id ? 'active' : nil %>"
          data-conversation=<%= conversation.id %>>
          <%= image_tag conversation.receiver_avatar_url %>
          <span class="name">
            <%= conversation.conversation_partner(current_user).name %></span>
        </li>
      <% end %>
    </ul>
</div>
