<div class="right">
  <div class="top">
    <span><%= t "chats.to" %>
      <span class="name"><%= conversation_partner.name %></span>
    </span>
  </div>
  <div class="message-loading">
    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="chat active-chat conversation-chat-<%= conversation.id %>"
    data-conversation-id="<%= conversation.id %>">
    <%= render "conversations/messages", messages: messages %>
  </div>
  <div class="write">
    <a href="" class="write-link attach"></a>
    <%= text_field_tag :message, nil, data: {conversation_id: conversation.id,
      receiver_id: conversation_partner.id} %>
    <a href="" class="write-link smiley"></a>
    <a href="javascript:void(0)" class="write-link send btn-send-message"></a>
  </div>
  <div hidden class="message-paginate">
    <%= render_pagination messages %>
  </div>
</div>
