<div class="left-navbar white-bg">
  <div class="title <%= active_post_navbar 'admin_applicants', active_name %>">
    <%= link_to t("admin.left_menus.applicants"), admin_applicants_path %>
  </div>
  <div class="title <%= active_post_navbar 'admin_recruiters', active_name %>">
    <%= link_to t("admin.left_menus.recruiters"), admin_recruiters_path %>
  </div>
  <div class="title <%= active_post_navbar 'admin_posts', active_name %>">
    <%= link_to t("admin.left_menus.posts"), admin_posts_path %>
  </div>
  <div class="title <%= active_post_navbar 'admin_job_posts', active_name %>">
    <%= link_to t("admin.left_menus.job_posts"), admin_job_posts_path %>
  </div>
  <div class="title <%= active_post_navbar 'admin_feedbacks', active_name %>">
    <%= link_to t("admin.left_menus.feedbacks"), admin_feedbacks_path %>
  </div>
  <div class="title <%= active_post_navbar 'admin_job_types', active_name %>">
    <%= link_to t("admin.left_menus.job_types"), admin_job_types_path %>
  </div>
  <div class="title <%= active_post_navbar 'admin_salary_types', active_name %>">
    <%= link_to t("admin.left_menus.salary_types"), admin_salary_types_path %>
  </div>
</div>
