<div class="new-feeds white-bg">
  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <%= link_to image_tag(activity.user.avatar_url, class: "media-object",
          size: Settings.images.sizes.small_avatar), activity.user %>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <strong><%= link_to activity.user_name, activity.user %></strong>
          <% if share == true %>
            <%= t "new_feeds.labels.shared" %>
            <strong><%= link_to post.user_name, post.user %></strong>
            <%= t "new_feeds.labels.post" %>
          <% end %>
        </div>
        <div class="post-date">
          <%= "#{activity.user.user_profile_current_position} · " if activity.user.user_profile %>
          <%= l activity.created_at, format: :datetime %> &nbsp;
          <%= status_post activity.trackable %>
        </div>
      </div>
      <div class="media-right">
        <div class="dropdown post-actions">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="save-post-<%= activity.id %>">
              <%= render "shared/save_action", activity: activity %>
            </li>
            <% if activity.user_id == current_user.id %>
              <li><%= link_to t("new_feeds.actions.edit_post"),
                edit_activity_path(activity), remote: true %></li>
              <li><%= link_to t("new_feeds.actions.delete_post"), activity,
                method: :delete, data: {confirm: t("confirms.confirm_delete")},
                remote: true %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <% if share == true %>
    <%= activity.trackable_content %>
    <%= render "shared/share_post_content", post: post %>
  <% else %>
    <%= render "shared/post_content", post: post %>
  <% end %>

  <div class="post-react">
    <span class="like">
      <%= render "shared/button_like", activity: activity %>
    </span>
    <span class="comment show-comments">
      <%= link_to "javascript:void(0)", data: {count: (count = activity.comments.size)} do %>
        <i class="fa fa-comment" aria-hidden="true"></i>
        <%= t "new_feeds.reacts.comment" %>
        <span class="comment-count"><%= react_number count %></span>
      <% end %>
    </span>
    <span class="share">
      <%= link_to "javascript:void(0)", class: "share-post-action",
        data: {post_id: post.id} do %>
        <i class="fa fa-share" aria-hidden="true"></i>
        <%= t "new_feeds.reacts.share" %>
      <% end %>
    </span>
    <% if post.job_post.present? && current_user.applicant? %>
      <span class="apply job-post-<%= post.job_post_id %>">
        <%= render "shared/apply_job_action", job_post_id: post.job_post_id %>
      </span>
    <% end %>
  </div>

  <div class="comments comments-activity-<%= activity.id %>"
    data-activity-id="<%= activity.id %>">
    <div hidden class="comments-pagination"></div>
    <div class="comment-form" action="javascript:void(0)"
      data-activity-id="<%= activity.id %>" data-new-comment-count="0">
      <ul class="media-list">
        <%= link_to t("new_feeds.comments.show_more"), "javascript:void(0)",
          class: "load-more", style: "display: none;" %>
        <div hidden class="comments-spinner">
          <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        </div>
        <div hidden class="comments-content">
          <div class="comments-list"></div>
          <%= render "comments/comment_form" %>
        </div>
      </ul>
    </div>
  </div>
</div>
