<div class="post-content">
  <% if post.job_post.present? %>
    <div class="job-post">
      <div class="job-title">
        <%= post.job_post_name %>
      </div>
      <div class="job-type">
        <% post.job_post.job_types.each do |job_type| %>
          <span class="badge"><%= job_type.name %></span>
        <% end %>
      </div>
      <div class="job-location">
        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
        <%= post.job_post_location %>
      </div>
      <div class="salary">
        <i class="fa fa-usd" aria-hidden="true"></i></i> &nbsp;
        <%= salary_range post.job_post %>
      </div>
    </div>
  <% end %>
  <div class="post-article">
    <%= post.content.html_safe if post.content %>
  </div>
  <div class="post-image">
    <%= image_tag post.image_url, class: "img-responsive" if post.image_url %>
  </div>
</div>
