<div class="row post-managers" id="save-posts">
  <div class="col-md-3">
    <%= render "shared/post_manager_left_navbar", active_name: "save_posts" %>
  </div>
  <div class="col-md-9">
    <div class="post-list white-bg">
      <div class="list-title"><%= t "post_managers.save_posts" %></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="content"><%= t "save_posts.tables.content" %></th>
            <th class="save_from"><%= t "save_posts.tables.save_from" %></th>
            <th class="date"><%= t "save_posts.tables.save_date" %></th>
          </tr>
        </thead>
        <tbody>
          <% @save_posts.each do |save_post| %>
            <%= render "save_post", save_post: save_post,
              post: save_post.activity.get_post %>
          <% end %>
        </tbody>
      </table>
      <%= render_pagination @save_posts %>
    </div>
  </div>
</div>
