<div class="row post-managers" id="job-posts">
  <div class="col-md-3">
    <%= render "shared/post_manager_left_navbar", active_name: "job_posts"  %>
  </div>
  <div class="col-md-6">
    <%= render "shared/activity", activity: @job_post.post.activity %>
  </div>
  <div class="col-md-3">
    <div class="apply-users white-bg">
      <div class="title"><%= t "job_posts.apply_users" %></div>
      <%= render partial: "job_posts/apply_job",
        collection: @job_post.apply_jobs.order_by_user,
        as: :apply_job %>
    </div>
  </div>
</div>
<%= render "shared/modal_container" %>
