<div class="row post-managers" id="job-posts">
  <div class="col-md-3">
    <%= render "shared/post_manager_left_navbar", active_name: "job_posts"  %>
  </div>
  <div class="col-md-6">
    <%= render "shared/activity", activity: @job_post.post.activity %>
  </div>
  <div class="col-md-3">
    <div class="apply-users white-bg">
      <strong><%= t "job_posts.apply_users" %></strong>
      <%= render partial: "job_posts/apply_job",
        collection: @job_post.apply_jobs.order_by_user,
        as: :apply_job %>
    </div>
    <div class="white-bg suggest-list">
      <strong><%= t "labels.fitted_applicants" %></strong>
      <% @suggest_applicants.each do |applicant| %>
        <div class="suggest-box">
          <%= render "profiles/user_media", user: applicant %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/modal_container" %>
