<div class="row post-managers" id="feedbacks">
  <div class="col-md-3">
    <%= render "shared/post_manager_left_navbar", active_name: "feedbacks" %>
  </div>
  <div class="col-md-9">
    <div class="post-list white-bg">
      <div class="list-title"><%= t "post_managers.feedbacks" %></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="content"><%= t "feedbacks.subject" %></th>
            <th class="sender"><%= t "feedbacks.sender" %></th>
            <th class="sent_date"><%= t "feedbacks.sent_date" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @feedbacks %>
        </tbody>
      </table>
      <%= render_pagination @feedbacks %>
    </div>
  </div>
</div>
