<%= form_for post, remote: true do |f| %>
  <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-content" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t "posts.edit_post" %></h4>
        </div>
        <div class="modal-body">
          <div class="errors"></div>
          <% if post.job_post.present? %>
            <%= render "posts/post_job_content", f: f %>
          <% else %>
            <%= render "posts/post_status_content", f: f %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= render "posts/button", ff: f %>
        </div>
      </div>
    </div>
  </div>
<% end %>
