<%= f.fields_for :job_post do |builder| %>
  <div>
    <%= builder.text_field :name, placeholder: t("posts.name"), class: "job-name form-control" %>
  </div><br />
  <div>
    <%= builder.text_field :location, placeholder: t("posts.location"), class: "job-location form-control" %>
  </div><br />
  <div>
    <%= builder.select :job_type_id, options_for_select(JobType.all.map{|u| [u.name, u.id]}, builder.object.job_type_id),
      {prompt: t("posts.job_type")}, {id: "job-type-post"} %>
  </div><br />

  <div>
   <% if f.object.new_record? %>
      <%= f.text_area :content, id: "post-content" %>
    <% else %>
      <%= f.text_area :content, id: "post-content-modal" %>
    <% end %>
  </div>

<% end %>
