<!DOCTYPE html>
<html>
  <head>
    <title><%= set_title yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <%= render "layouts/header" %>
      </div>
      <div class="content-wrapper container">
        <div class="flash"><%= render "layouts/flash" %></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
